#project
lib/opengl/*
lib/math/*
lib/*
src/control/Config.java
score*bb
*.csv
*.tcp
drunken_ed.jar
*.ym
*.pdf
*.rtf#
jfxrt.jar

#LaTeX
*.aux
*.bbl
*.blg
*.log
*.tps
*.tcp


#java specific
*.class
.classpath

# Package Files #
*.war
*.ear

# Eclipse #
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
 
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out


#OSX
.DS_Store
__MACOSX

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#WINDOWS
# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini


